/* public/css/styles.css */

:root {
  --font-family: "Open Sans", sans-serif;
  --primary: #8e44ad;
  --dark: #2c3e50;
  --danger: #e74c3c;
  --background-light: #ecf0f1;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

h2 {
  color: #555;
  margin-top: 20px;
  text-align: center;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
  border: 3cap solid #eeeeee;
}

li {
  margin-bottom: 10px;
}

.card-image {
  background: #fff;
  max-width: 50px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
  width : 150px;
  height : 150px;
}

.play-mode {
  font-weight: bold;
  color: #007bff;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.Column {
  display: table-cell;
}

.legend {
  font-size: small;
  background: #e4e6d0;
  /* max-width: 100rem; */
  /* width: 100%; */
  min-height: 20px;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  margin: 20%;
  padding: 20%;
  /* padding: 0.5rem 0.8rem 2rem 1.5rem; */
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--font-family);
  background-color: var(--background-light);
}

h1,
p {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

header {
  background-color: var(--primary);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  color: var(--text-color-light);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

/* container 

.container {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  color: var(--text-color);
}

.overflow {
  overflow: hidden;
}

/* text 

.text-danger {
  color: var(--danger);
  font-size: 1.2rem;
  font-weight: bold;
}

*/

/* header 
.header-menu {
  margin: 0;
}

.header-menu li {
  border-radius: 3px;
  padding: 5px 15px;
  transition: background-color 0.2s;
}

.header-menu li:hover {
  background-color: var(--primary-dark);
}

.active {
  background-color: var(--primary-dark);
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color-light);
}

/* footer 

footer {
  background: var(--dark);
  display: flex;
  flex-flow: row-reverse;
  color: var(--text-color-light);
  padding: 1.5rem;
}

/* content  

.content {
  max-width: 100rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  padding: 2rem 0;
}



/* .block {
  border-radius: 3px;
  border: var(--border);
  background-color: white;
  box-shadow: var(--box-shadow);
} */

/* utils 

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}
*/
.btn {
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.6rem;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
  box-shadow: var(--box-shadow);
  text-align: center;
}
