{# templates/card/home.html.twig #}



<!DOCTYPE html>
<html>
<head>
    <title>Card Game</title>
</head>
<body>
    <h1>Welcome to the Card Game!</h1>
    {# <a href="{{ path('app_play', {'mode': 'console'}) }}">Play in Console</a> #}
    <br>
    <a href="{{ path('app_play', {'mode': 'graphical'}) }}">Play with Graphics</a>
</body>
</html>
