{# templates/card/play.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>JEU</title>
		<link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
	</head>
	<body>
		<div class="container">
			<center>
				<h1>JEU DE CARTE</h1>
			</center>
			<div>
				<fieldset clase="header">
					<legend>Légende image:</legend>
					<div class="Row">
						<div class="Column">
							<img class="card-image" src="{{ asset('cards/images/Coeur.png') }}" alt="Coeur">
							<span>coeur</span>
						</div>
						<div class="Column">
							<img class="card-image" src="{{ asset('cards/images/Pique.png') }}" alt="Coeur">
							<span>Pique</span>
						</div>
						<div class="Column">
							<img class="card-image" src="{{ asset('cards/images/Trefle.png') }}" alt="Trefle">
							<span>Trefle</span>
						</div>
						<div class="Column">
							<img class="card-image" src="{{ asset('cards/images/Carreaux.png') }}" alt="Carreaux">
							<span>Carreaux</span>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="Row">

				<ul>
					<h2>Main Non triée</h2>
					{% for card in hand %}
						<li class="Column">
							<img class="card-image" src="{{ asset('cards/images/' ~ card.getColor() ~ '.png') }}" alt="{{ card.getColor() }}">
							<span
								class="legend">
								{# {{ card.getColor() }} #}
								{{ card.getValue() }}
							</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="Row">
				<ul>
					<h2>Main triée</h2>
					{% for card in sortedHand %}
						<li class="Column">
							<img class="card-image" src="{{ asset('cards/images/' ~ card.getColor() ~ '.png') }}" alt="{{ card.getColor() }}">
							<span
								class="legend">
								{# {{ card.getColor() }} #}
								{{ card.getValue() }}
							</span>
						</li>
					{% endfor %}
				</ul>
			</div>
			<button>
				<a class="btn" href="{{ path('app_play', {'mode': playMode}) }}">Rejouer</a>
			</button>
		</body>
	</body>
</html>
